In [2]:
#we will first use to dict then we will make data frame from it then we will make it to data frame. using pd.DataFrame()
#inside the brackets you will give the dict.

job_data = {
    'job_id': [1, 2, 3, 4, 5],
    'job_title': ['Data Scientist', 'Software Engineer', 'Product Manager', 'Marketing Director', 'HR Manager'],
    'company_name': ['Google', 'Microsoft', 'Apple', 'Nike', 'Starbucks'],
    'job_location': ['Mountain View, CA', 'Redmond, WA', 'Cupertino, CA', 'Beaverton, OR', 'Seattle, WA']
}

company_data = {
    'company_name': ['Google', 'Microsoft', 'Apple', 'Nike', 'Starbucks'],
    'industry': ['Technology', 'Technology', 'Technology', 'Apparel', 'Food & Beverage'],
    'company_size': ['100,000+', '100,000+', '100,000+', '75,000+', '346,000+']
}

print(f'the type of job_data is:{type(job_data)}')
print(f'the type of company data is:{type(company_data)}')

the type of job_data is:<class 'dict'>
the type of company data is:<class 'dict'>

In [3]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

c:\Users\sande\anaconda3\envs\my_learnings\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
#lets convert to Dataframe

df_jobs = pd.DataFrame(job_data)
df_companies = pd.DataFrame(company_data)

print(type(df_jobs))

<class 'pandas.core.frame.DataFrame'>

In [9]:
df_job_companies = df_jobs.merge(df_companies, on= 'company_name')

df_job_companies

,job_id,job_title,company_name,job_location,industry,company_size
0,1,Data Scientist,Google,"Mountain View, CA",Technology,"100,000+"
1,2,Software Engineer,Microsoft,"Redmond, WA",Technology,"100,000+"
2,3,Product Manager,Apple,"Cupertino, CA",Technology,"100,000+"
3,4,Marketing Director,Nike,"Beaverton, OR",Apparel,"75,000+"
4,5,HR Manager,Starbucks,"Seattle, WA",Food & Beverage,"346,000+"

In [ ]:
# #merge(): Combine DataFrames based on common columns or indices, similar to SQL joins (inner, outer, left, right).
# It merges rows from the DataFrame based on the specific keys.